# common config
TOKEN=*** 微信公众号开发平台设置的token
botType=** 机器人类型 目前支持(gpt,spark,echo,qwen,gemini)例如botType=gpt
subscribe=欢迎你  被关注自动回复词(可选)

# redis config
KV_URL=redis://localhost:6479/0

# spark config
# 此次使用的是3.5，请根据实际情况填写
sparkUrl=wss://spark-api.xf-yun.com/v3.5/chat
sparkAppId=xxx
sparkAppSecret=xxx
sparkApiKey=xxx

# Chat-GPT config
GPT_TOKEN=sk-*** 你的gpt token
GPT_URL=https://xxx  代理gpt服务器(选填，默认openai官网api)
gptModel=gpt-3.5-turbo gpt模型(选填,默认gpt-3.5-turbo)

# QWen config
qwenUrl=https://dashscope.aliyuncs.com/api/v1/services/aigc/text-generation/generation
qwenModelVersion=qwen-max
qwenApiKey=xxx

# gemini config
geminiKey=*** 你的gemini key(这里申请(https://aistudio.google.com/app/apikey))
